h4 {
	padding-left: 1%;
	font-size: 20px;
	font-weight: bold;	
	padding-top: 15px;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.edit {
	padding-top: 5px;
}

.btn-outline-info {
	font-weight: bold;
}

.btn-warning {
	padding-top: 5px;
}

