@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { 
	height: 100%;
} 

body { 
	margin: 0; 
	font-family: "Helvetica Neue", sans-serif; 
	height:100%;
}

h4	{
	font-size: 18px;	
}

p	{
	font-size: 18px;
}

.bs-datepicker-head { 
  	background: #039dfc;
} 
.bs-datepicker-body {
  	background: #039dfc; 
}